DATABASE_URL=postgresql://goodwork_admin:goodwork_secure_pass@localhost:5432/goodwork_db
NODE_ENV=development
RESEND_API_KEY=
SUPABASE_PROJECT_URL=
SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
GOOGLE_CALENDAR_BASE_URL=https://calendar.google.com/calendar/render
JWT_SECRET=
